.example {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  background-color: #eaeaea;
  margin-top: 22px;
  padding-top: 27px;
  padding-bottom: 35px;
  z-index: 2;

  @media (min-width: 768px) {
    background-color: @white;
    justify-content: start;
    padding-top: 44px;
    padding-bottom: 70px;
    margin-top: 0;

    &::before {
      content: "";
      width: 100%;
      height: 462px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #eaeaea;
      z-index: -1;
    }
  }

  @media (min-width: 1440px) {
    margin: 0 auto;
    padding: 0 110px;
    padding-bottom: 75px;
    justify-content: space-between;

    &::before {
      background-color: #f2f2f2;
      right: 0;
    }
  }
}

.example__info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
}

.example h2 {
  .font(normal;);
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
  margin-right: auto;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    margin-right: 0;
    width: 100%;
  }

  @media (min-width: 1440px) {
    width: fit-content;
    padding-top: 27px;
    margin-bottom: 146px;
  }
}

.example__history {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: @special-dark-grey;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  @media (min-width: 1440px) {
    max-width: 440px;
  }
}

.example__result-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 26px auto 4px auto;
  width: 279px;

  @media (min-width: 768px) {
    justify-content: flex-start;
    width: 366px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 4px;
  }

  @media (min-width: 1440px) {
    margin-top: 67px;
    margin-bottom: 40px;
  }
}

.example__result-item {
  display: inline-block;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 124px;
  padding-top: 10px;
  position: relative;
  margin-bottom: 20px;

  &:nth-child(2n) {
    margin-left: auto;
  }

  @media (min-width: 768px) {
    padding-top: 15px;
    width: 160px;
  }

  @media (min-width: 1440px) {
    height: 55px;
    margin-right: 0;
  }
}

.example__result-day,
.example__result-weight {
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__result-description {
  position: absolute;
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  bottom: -20px;
  background-color: #eaeaea;
  color: @special-dark-grey;

  @media (min-width: 768px) {
    background-color: @white;
    font-size: 14px;
    line-height: 14px;
    padding-left: 8px;
    padding-right: 8px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    margin: 0;
    width: max-content;
  }

  @media (min-width: 1440px) {
    background-color: #f2f2f2;
    bottom: -7px;
  }
}

.example__expenses {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: 768px) {
    text-align: right;
    margin-left: auto;
    max-width: 180px;
    margin-top: 65px;
    margin-right: 1px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    text-align: left;
    max-width: inherit;
    width: auto;
    margin: 0;
  }
}

.example__expenses p {
  display: inline-block;

  @media (min-width: 768px) {
    display: block;
    margin-top: 10px;
  }

  @media (min-width: 1440px) {
    display: inline-block;
    margin: 0;
    margin-left: 63px;
  }
}

.example__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    margin: 0;
    margin-top: 35px;
  }

  @media (min-width: 1440px) {
    justify-content: space-between;
    width: fit-content;
    order: 1;
    margin: 0;
    margin-bottom: -7px;
  }
}

.example_slide {
  height: 290px;
  position: relative;

  @media (min-width: 768px) {
    height: 581px;
  }

  @media (min-width: 1440px) {
    height: 520px;
  }
}

.example__img-mobile {
  position: absolute;
  object-fit: cover;
  margin-top: 27px;
  margin-bottom: 26px;
  margin-left: -9px;

  &--before {
    object-position: left;
    right: -150px;
    width: 311px;
    height: 232px;
    z-index: 1;
  }

  &--after {
    object-position: right;
    transform: translateX(-50%);
    top: 2px;
    right: -255px;
    width: 250px;
  }

  @media (min-width: 768px) {
    width: 696px;
    height: 519px;
    margin-bottom: 30px;
    margin-left: 20px;

    &--before {
      object-position: left;
      right: 0;
      width: 338px;
    }

    &--after {
      object-position: right;
      transform: translateX(-50%);
      right: -447px;
      width: 298px;
    }
  }

  @media (min-width: 1440px) {
    margin: 0;
    margin-top: -28px;
    margin-left: auto;
    margin-right: -85px;

    &--before {
      right: 15px;
      width: 365px;
    }

    &--after {
      right: -397px;
      width: 275px;
    }
  }
}
