.gift {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
  margin-right: 20px;
  width: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/gift-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-bg-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    flex-direction: row;
    height: 200px;
    background-image: url("../img/gift-bg-tablet.jpg");
    margin-top: 67px;
    max-width: 708px;
    margin-left: auto;
    margin-right: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-bg-tablet@2x.jpg");
    }
  }

  @media (min-width: 1440px) {
    flex-direction: column;
    width: 245px;
    max-width: none;
    height: 289px;
    padding: 0;
    margin: 0;
    background-image: url("../img/gift-bg-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-bg-desktop@2x.jpg");
    }
  }
}

.gift__img {
  width: 80px;
  height: auto;
  margin-top: 57px;

  @media (min-width: 768px) {
    margin: 0;
    margin-left: 78px;
  }

  @media (min-width: 1440px) {
    margin: 0;
    margin-top: 55px;
    margin-right: -5px;
  }
}

.gift__description {
  max-width: 161px;
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  font-family: "Arial", "Oswald", sans-serif;
  margin-bottom: 42px;
  margin-right: 3px;

  @media (min-width: 768px) {
    text-align: start;
    max-width: 170px;
    margin: 0;
    margin-top: 7px;
    margin-right: 115px;
  }

  @media (min-width: 1440px) {
    text-align: center;
    margin: 0;
    margin-bottom: 42px;
    margin-right: 3px;
  }
}
