.information {
  border: none;
  padding: 0 20px;
  width: 100%;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    padding: 0;
    max-width: 630px;
  }

  @media (min-width: 1440px) {
    margin-right: 40px;
    margin-left: auto;
    max-width: 569px;
  }
}

.information__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    margin-left: 1px;
  }

  @media (min-width: 1440px) {
    margin-left: 0;
    justify-content: flex-start;
  }
}

.information__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  height: 46px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    height: 52px;
    margin-bottom: 20px;
  }
}


.information__item:nth-child(2) .select-program-label {
  @media (max-width: 767px) {
    margin-right: 16px;
  }

  @media (min-width: 768px) {
    margin-right: 20px;
  }
}

.information__item:nth-child(3) .select-program-label {
  @media (max-width: 767px) {
    margin-right: 14px;
  }
}
