.logo {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.logo__logo-text {
  height: 18px;
  width: 101px;
}

.page-header__link--logo-text,
.page-header__link--logo-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.page-header__link--logo-tablet {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}

.page-header__link--logo-desktop {
  display: none;

  @media (min-width: 1440px) {
    display: block;
  }
}
