.page-header {
  .font(medium;);
  margin-top: 12px;
  width: 100%;

  @media (min-width: 768px) {
    border: none;
    margin-top: 24px;
  }

  @media (min-width: 1440px) {
    margin-top: 53px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 0;

  @media (min-width: 768px) {
    align-items: center;
    padding: 0 30px;
    max-width: 708px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1440px) {
    padding: 0 110px;
    max-width: 1220px;
  }
}

.page-header__wrapper--index {
  @media (min-width: 768px) and (max-width: 1439px) {
    padding-left: 0;
    padding-right: 60px;
  }
}

.page-header__site-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  padding: 0 20px 10px 20px;

  @media (min-width: 768px) {
    border: none;
    padding: 0;
    width: auto;
  }
}

.page-header__link {
  display: block;
}

.page-header__link--logo-text {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    margin-left: -9px;
  }
}

.page-header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header__toogle {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  height: 18px;
  width: 24px;

  @media (min-width: 768px) {
    display: none;
  }
}

.page-header__toogle--open {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: @black;
    box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
  }
}

.page-header__toogle--closed {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 23px;
    height: 1.5px;
    background-color: @black;
  }

  .page-header__toogle--nojs {
    display: none;
  }

  &::before {
    transform: translateX(-50%) rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}
