.page-header {
  .font(medium;);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 20px 15px 20px;
  position: relative;
}
.page-header__logo{
  width: 200px;
  margin-left: 13px;
}
