.program {
  margin-top: 22px;
}

.program__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr;
  }
}

.program__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  background: #f2f2f2;
  padding: 20px 20px 18px 20px;
  height: 228px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 77px 28px 53px 52px;
    height: 242px;
  }

  @media (min-width: 1440px) {
    flex-direction: row;
    align-items: center;
    height: 278px;
    padding: 41px 51px 55px 52px;
    margin-bottom: 71px;
    margin-right: 40px;

    &:nth-child(2n) {
      margin-left: 40px;
      margin-right: 0;
    }
  }
}

.program__image {
  display: block;
  margin-right: 20px;

  @media (min-width: 768px) {
    order: 1;
    margin-right: auto;
  }

  @media (min-width: 1440px) {
    order: 0;
    margin-bottom: 39px;
    margin-right: 62px;
    margin-left: 0;
  }


  &--slim {
    @media (min-width: 768px) {
      width: 200px;
      height: 211px;
    }

    @media (min-width: 1440px) {
      width: 100px;
      height: 106px;
    }
  }

  &--pro {
    @media (min-width: 768px) {
      width: 268px;
      height: 200px;
    }

    @media (min-width: 1440px) {
      width: 134px;
      height: 100px;
      margin-left: -19px;
    }
  }
}

.program__name {
  position: relative;
  .font(normal;);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 39px;
  }
}

.program__item--pro .program__name {
  @media (min-width: 1440px) {
    margin-top: 5px;
    margin-left: -16px;
  }
}


.program__description {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 19px;
  padding-bottom: 23px;
  color: @special-dark-grey;
  width: 100%;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-top: 0;
    margin-bottom: 48px;
    width: calc(100% - 268px);
    padding: 0;
  }

  @media (min-width: 1440px) {
    width: 100%;
    margin-bottom: 23px;
    margin-top: 0;
  }
}

.program__link {
  position: relative;
  text-transform: uppercase;
  color: @black;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/arrow-program.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 12px;
    top: 2px;
    right: -40px;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    margin-top: auto;
    margin-bottom: 4px;

    &::before {
      top: 9px;
      right: -49px;
    }
  }
}
