.special{

}
.special h2{
  .font(normal;);
  font-size: 36px;
  line-height: 40px;
}
.special__list{
  list-style: none;
  padding: 0;
}
.special__item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 20px;
}
.special__description{
  margin: 0;
}
.special__image{
  margin-right: 20px;
}
